<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">

    <target name="uiFileTarget"
				xsi:type="File"
				fileName="${basedir}/Logs/log.txt"
				deleteOldFileOnStartup="true"
				layout="${time}|${level:uppercase=true}|${message}"
				archiveEvery="Day"
				maxArchiveFiles="2"
				/>

  </targets>

  <rules>

    <logger name="FuelMeasurement.Client.*"
				minlevel="Debug"
				writeTo="uiFileTarget"
				/>

  </rules>

</nlog>